<app-restaurant-ranking [restaurants$]="restaurants$"></app-restaurant-ranking>

<div *ngIf="!(restaurants$ | async); else restauList">
  loading...
</div>

<div #restauList *ngFor="let restau of restaurants$ | async">
  <div>Nom : {{ restau.name }}</div>
  <div>Ajouté le : {{ restau.createdAt | date: "dd/MM/yyyy à HH:mm" }}</div>
  <div>
    <button
      mat-stroked-button
      color="primary"
      (click)="vote(restau, restau.id)"
    >
      +
    </button>
    {{ restau.votes }}
  </div>
  <br />
</div>
